{% extends 'base.html' %} {% block title %} Create Model Account {% endblock %}
{% block content %}

<div class="container-form p-6" >    
<form action="/change_password" method="POST"> 
    <h4 class="text-2xl font-bold mb-6"><span class="logo-mark">Login</span> to Your Account</h4>    
    <div class="mb-6">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading">New Password</label>
        <input type="password" id="password" name="new_password" class="bg-neutral-secondary-medium border  text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="•••••••••" required />
    </div> 
    <div class="mb-6">
        <label for="confirm_password" class="block mb-2.5 text-sm font-medium text-heading">Confirm Password</label>
        <input type="confirm_password" id="confirm_password" name="confirm_new_password" class="bg-neutral-secondary-medium border  text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="•••••••••" required />
    </div> 
  

    <button type="submit" class="cta w-full">Change Password</button>
</form>


</div>
{% endblock %}