{% extends 'base.html' %} {% block title %} Create Agency Account {% endblock %}
{% block content %}

<div class="container-form p-6 mt-10">
  <form action="/register_agency" method="POST">
    <h4 class="text-2xl  font-bold mb-6">
      Create <span class="logo-mark">Agency</span> Account
    </h4>

    <div class="mb-6">
      <label
        for="agency_name"
        class="block mb-2.5 text-sm font-medium text-heading"
        >Agency Name</label
      >
      <input
        type="text"
        id="agency_name"
        name="name"
        class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="Lalita Models Agency"
        required
      />
    </div>

    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="john.doe@company.com"
          required
        />
      </div>
      <div>
        <label for="phone" class="block mb-2.5 text-sm font-medium text-heading"
          >Phone number</label
        >
        <input
          type="tel"
          id="phone"
          name="phone"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="+254111339415"
          required
        />
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="agency_type"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Agency Type</label
        >
        <select
          id="agency_type"
          name="agency_type"
          class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs"
          required
        >
          <option selected disabled value="">Select Category</option>
          <option value="fashion">Fashion</option>
          <option value="runway">Runway</option>
          <option value="magazine">Magazine</option>
          <option value="vixen">Vixen</option>
        </select>
      </div>

      <div>
        <label
          for="total_models"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Total Models
        </label>
        <input
          type="number"
          id="total_models"
          name="total_models"
          min="1"          
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="20"
          required
        />
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="founded_year"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Founded Year</label
        >
        <input
          type="number"
          id="founded_year"
          name="founded_year"
          min="1900"
          max="2026"
          class="bg-neutral-secondary-medium border text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="2015"
          required
        />
      </div>
      <div>
        <label
          for="commission_pct"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Commission Rate %
        </label>
        <input
          type="number"
          id="commission_pct"
          name="commission_pct"
          min="0"
          step="0.01"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="20"
          required
        />
      </div>
    </div>

    <div class="grid gap-6 mb-6 md:grid-cols-3">
      <div>
        <label
          for="website"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Website</label
        >
        <input
          type="url"
          id="website"
          name="website"
          class="bg-neutral-secondary-medium border text-heading text-sm rounded-base placeholder:text-body block w-full px-3 py-2.5"
          placeholder="https://youragency.com"
        />
      </div>

      <div>
        <label
          for="logo_url"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Select Agency Logo</label
        >
        <input
          type="url"
          id="logo_url"
          name="logo_url"
          class="bg-neutral-secondary-medium border text-heading text-sm rounded-base placeholder:text-body block w-full px-3 py-2.5"
          placeholder="https://yourlogo.com"
        />
      </div>

      <div>
        <label
          for="instagram_url"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Instagram Link</label
        >
        <input
          type="url"
          id="instagram_url"
          name="instagram_url"
          class="bg-neutral-secondary-medium border text-heading text-sm rounded-base placeholder:text-body block w-full px-3 py-2.5"
          placeholder="www.instagram.com"
        />
      </div>
    </div>

    <div class="grid gap-6 mb-6 md:grid-cols-3">
      <div>
        <label
          for="country"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Country</label
        >
        <input
          type="text"
          id="country"
          name="country"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Kenya"
          required
        />
      </div>
      <div>
        <label for="city" class="block mb-2.5 text-sm font-medium text-heading"
          >City</label
        >
        <input
          type="text"
          id="city"
          name="city"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Nairobi"
          required
        />
      </div>
      <div>
        <label
          for="address"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Address</label
        >
        <input
          type="text"
          id="address"
          name="address"
          class="bg-neutral-secondary-medium border text-sm text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Umoja 3 Estate"
          required
        />
      </div>
    </div>

    <div class="mb-6">
      <div class="flex items-center justify-between mb-2.5">
        <label for="password" class="text-sm font-medium text-heading"
          >Password</label
        >
        <a href="/forgot_password" class="text-sm logo-tag hover:underline"
          >Forgot password?</a
        >
      </div>
      <input
        type="password"
        id="password"
        name="password"
        class="bg-neutral-secondary-medium border text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="•••••••••"
        required
      />
    </div>

    <div class="mb-6">
      <label
        for="confirm_password"
        class="block mb-2.5 text-sm font-medium text-heading"
        >Confirm password</label
      >
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        class="bg-neutral-secondary-medium border text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="•••••••••"
        required
      />
    </div>

    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input
          id="remember"
          type="checkbox"
          value=""
          class="w-4 h-4 border rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
          required
        />
      </div>
      <label for="remember" class="ms-2 text-sm font-medium text-heading">
        I agree with the
        <a href="#" class="text-fg-brand hover:underline"
          >terms and conditions</a
        >.
      </label>
    </div>

    <button type="submit" class="cta w-full">Complete Account Set Up</button>

    <p class="text-sm text-center text-body mt-4">
      Already have an account?
      <a href="/login" class="logo-tag hover:underline">Log in</a>
    </p>
  </form>
</div>

{% endblock %}
